<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
 <img src="/assets/logos/1.png" alt="">
<p>
Hello <h4> Mr/Ms .<%=@qucikcontact.name%></h4></br>
We got your message and will get back to you shortly.
In the meantime, feel free to join our community !
  This  is an feedback mail from 3Tech Automation ,thanks for showing a intrest on US.we are help you on your ideas .
we have the experts on web technology to solve your problem<p>
thanks again for showing intrest with our Company
Contactus:020-65116622.
Warm Regards
<h4>-3Tech Automation</h4>
</p>
</p>
</body>
</html>