
<body onload="initialize()">

 <div class="container region3wrap">  
  
    
    <!-- Content Top -->  
  	<div class="row content_top">
        
    	<div class="nine columns">
       
			<ul class="breadcrumbs">
 				<li><a href="index_2">Home</a></li>
  				<li><a href="#">Pages</a></li>
  				<li class="current"><a href="#">About Us</a></li>
			</ul>

		</div>
        
        
  	</div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->

<!-- Region 4 Wrap -->

  <div class="container region4wrap">
  
  	<div class="row maincontent">    
      
		<div class="twelve columns">
        	
        	<div class="page_title">
        
        		<div class="row">
            	
            		<div class="twelve columns">
        				<h1>Who we are <small>- take a look</small></h1>
            		</div>
            
            	</div>
                
        	</div>
        
        </div>
        
        <div class="twelve columns">
        
            <div class="row services">
       
       			<div class="eight columns">
                
                		<h3>About Us</h3>                        
<div class="twelve columns text-center"> 
<div>
<p><strong>3Tech Automation</strong> has been accompanying day-to-day work on all aspects <strong>Automation works.</strong> </p>
                        </div>
</div>
<div> <p> What is more, ThreeTech Automation cultivates a sense of thinking in automation dimensions which addresses global as well as individual needs on a daily basis.Strong, open-minded, reliable 3Tech Automation  wants to continue to inspire the market with these values in the future.</p>
<p>Through an extensive product portfolio and a passion for every customer requirement.
 Through innovative ideas and by keeping an ear to the ground to recognize the needs of the market.
 As a pacesetter and reliable partner who lives up to its promises.
Success is the moment when you are satisfied. When this is the case,3TechAutomation  is content as well.</p>
</div>
<div> <p>
3Tech Automation  is regarded as a specialist in manufacturing vibratory. 3Tech Automation  solutions and products have been helping manufacturers move, assemble, pack, count and weigh their products from a single item of equipment to a complete turnkey project. We pride ourselves on having loyal customers who are well established in different segments of <strong>industries in the India.</strong></p>
</div>
<h2>Our People<h2>

<div> <p>
One of the major strengths of our company is the people working for <strong>3Tech Automation</strong>
  We have a wealth of experience in design, manufacture, installation and servicing of materials handling products. The vast majority of our employees are experts in our product range, having contributed to our product development for many years. We are constantly developing our products, listening to our customers and matching our manufacturing abilities to their needs.</p>
  <p>We invite potential customers and suppliers to visit our custom-built factory and offices for a detailed tour and demonstration of our facilities. If you would like to visit us please e-mail sales@threetechautomation.com.
  </p>
</div>

                       <h2>Meet Our Team</h2>


                        <div class="row team">
                        
                        	<div class="four columns">
                             
                            	<div class="member-info">                         
                            		<h2 class="member-name">P.V.Pandey</h2>
                            		<p class="member-possition">Founder / Partner</p>
                            	
                                    <ul class="member-social">
  										        	
  										<li><a href="https://twitter.com/" target="_blank"><i class="icon-twitter icon20"></i></a></li>
  										<li><a href="http://www.facebook.com" target="_blank"><i class="icon-facebook icon20"></i></a>
                						<li><a href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon20"></i></a></li>
			
									</ul>
                                    
                                </div>
                            
                            </div>
                            
                            <div class="four columns">
                             
                            	<div class="member-info">                         
                            
                            	
                            		<h2 class="member-name">P.R.Pandey</h2>
                            		<p class="member-possition">Creative Director</p>
                            		
                                    <ul class="member-social">
  										        	
  										<li><a href="https://twitter.com" target="_blank"><i class="icon-twitter icon20"></i></a></li>
  										<li><a href="http://www.facebook.com" target="_blank"><i class="icon-facebook icon20"></i></a>
                						<li><a href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon20"></i></a></li>
			
									</ul>
                                    
                                </div>
                            
                            </div> 
                            
                            <div class="four columns">
                             
                            	<div class="member-info">                         
                            
                                 <h2 class="member-name">S.D.Pandey</h2>
                            		<p class="member-possition">Project Manager</p>
                            
                                    <ul class="member-social">
  										        	
  										<li><a href="https://twitter.com" target="_blank"><i class="icon-twitter icon20"></i></a></li>
  										<li><a href="http://www.facebook.com" target="_blank"><i class="icon-facebook icon20"></i></a>
                						<li><a href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon20"></i></a></li>
			
									</ul>
                                    
                                </div>
                            
                            </div>                            
                            
                            
                            
                            
                        
                        </div>
                
                </div>
                
                <div class="four columns progress-bar">               
                		
						<h3>Providing skills</h3>
                        <p>We provide skills in differite fields. <strong>3Tech Automation</strong> are well known for providing customized solutions to parts handling & orientation problems.  Special outlets and escapement mechanisms allow even the most challenging components to be orientated and delivered at the right rate and in the correct orientation to meet your requirements.</p>
                        
                        <p class="bottom0">Feeder <span>80%</span></p>
                        <div class="nice primary progress"><span class="meter progress80"></span></div>
                        <p class="bottom0">Conveyor <span>90%</span></p>
                        <div class="nice primary progress"><span class="meter progress90"></span></div>
                        <p class="bottom0">Elevator <span>100%</span></p>
                        <div class="nice primary progress"><span class="meter progress100"></span></div>
                        <p class="bottom0">Special Purpose Machine<span>70%</span></p>
                        <div class="nice primary progress"><span class="meter progress70"></span></div>
                        <p class="bottom0">Voltage Controller<span>90%</span></p>
                        <div class="nice primary progress"><span class="meter progress90"></span></div>
                        <p class="bottom0">Frequency Controller <span>40%</span></p>
                        <div class="nice primary progress"><span class="meter progress40"></span></div>
                
                </div>
                
            </div>             
                 
		</div>    
    	
        <div class="twelve columns">
        	<hr/> 
        </div>
    	
		<div class="twelve columns text-center">       
			      
			<h2>We deliver precise strategic thinking and <a href="#">marketing direction</a> that can turn your concept from vision to reality. The main core of our strategy is achieving targeted and measurable results.<a href="#"> We can help you</a> plan all your marketing efforts!</h2>
       
		</div>
        
        <div class="twelve columns">
        	<hr/> 
        </div>
       
		<div class="twelve columns">
       		
            <div class="row">
       
       			<div class="four columns bottom20">
                
                <h4><i class="icon-heart icon20"></i>Our Challenge</h4>

				<p>The corporate culture encompasses 3TechAutomation vision, mission, principles, objectives and quality philosophy, upon which our performance is based.</p>
                <p> Strong, open-minded, reliable - these three attributes should be what our customers, partners and employees value in us. Our day-to-day actions and our operative and strategic objectives must be geared to live up to these standards, to this vision.</p> 
                 <p><strong>Our mission is your requirement</strong></p>
                  <ul class="circle">
                    <li>What we do, we do properly.</li>
                    <li>What we do promotes our strength.</li>      
                  </ul>             
                  
       			</div>
       
       			<div class="four columns bottom20">
                
                	<h4><i class="icon-dashboard icon20"></i>We are driven</h4>

					<p>We see quality as the continuous improvement of all processes. The guiding principles governing our quality philosophy and key aspects of quality policy are based on this.</p> 
					<blockquote>Donec cursus tristique urna, et molestie nisi consectetur quis. Maecenas sed justo varius velit imperdiet bibendum. 
 						<cite>Isaac Asimov</cite>
					</blockquote>		           
       
      			</div>
                
                <div class="four columns bottom20">
                
                <h4><i class="icon-gift icon20"></i>How we deliver</h4>

				<p><strong>3Tech Automation </strong>will supply what they say they will – on time and to budget with any support that is required to identify the correct solution to the application - responding quickly to all requests.</p> 
        <p><strong>Quality, not quantity" is one of our guiding principles</strong></p>
                	<ul class="circle">
                		<li>We are an independent, family-owned business.</li>
                        <li>We are a leading global partner in industry.</li>
                        <li>We set quality standards.</li>
                        <li>We have confidence in our employees and lay emphasis on motivation and team success.</li>
                        <li>We are a company with direct channels.</li> 
                         <li>We are flexible.</li>               
                          <li>We act responsibly toward our environment and observe legal and ethical standards.</li> 
                	</ul>            
       
      			</div>
            
            </div>
       
		</div>
        
  	</div>
    
  </div>
  
  </body>
