
<body onload="initialize()">

<!-- Region 3 Wrap -->

  <div class="container region3wrap">  
  
    
    <!-- Content Top -->  
  	<div class="row content_top">
        
    	<div class="nine columns">
       
			<ul class="breadcrumbs">
 				<li><a href="/index_2">Home</a></li>
  				<li><a href="#">Pages</a></li>
  				<li class="current"><a href="#">Blog</a></li>
			</ul>

		</div>

  	</div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->

<!-- Region 4 Wrap -->

  <div class="container region4wrap">
  
  	<div class="row maincontent">    
    	   
    	<div class="twelve columns">
        	
        	<div class="page_title">
        
        		<div class="row">
            	
            		<div class="twelve columns">
        				<h1>Welcome to our blog</h1>
            		</div>
            
            	</div>
                
        	</div>
        
        </div>
        
        <!-- Blog Content -->      
		<div class="eight columns">
      	
			<!-- Begin Article -->
            <div class="row">
            
                <div class="twelve columns">
            		<h2 class="article_title">Duis consectetur sem nec risus ultricies</h2>
            
            		<div class="article_meta">
            			<ul class="link-list">
            				<li class="post-date "><span class="icon-calendar"></span><a href="/blog-inner">Octomber 4, 2012</a></li>
            				<li class="post-author"><span class="icon-user"></span><a href="/blog-inner">Lance Dorgan</a></li>
            				<li class="post-categories"><span class="icon-tags"></span><a href="/blog-inner">Illustrations</a></li>
            				<li class="post-comments"><span class="icon-comments"></span><a href="/blog-inner">24 comments</a></li>
                		</ul>
            		</div>
            	</div>
            
            	<div class="twelve columns">
                
                	<div class="article_media">
                    	
                        <div class="simple-slider flexslider">          					
                            <ul class="slides">
            					<li class="image-overlay" data-thumb="/assets/works/blog/2.jpg">
  	    	    					<a class="titan-lb" data-titan-group="gallery" href="/assets/works/blog/2.jpg" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/blog/2.jpg" alt="" />
                               			<span class="overlay-icon item-zoom"></span>
                               		</a>                                    
  	    						</li>
  	    						<li class="image-overlay" data-thumb="/assets/works/blog/3.jpg">
  	    	    					<a class="titan-lb" data-titan-group="gallery" href="/assets/works/blog/3.jpg" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/blog/3.jpg" alt="" />
                               			<span class="overlay-icon item-movie"></span>
                               		</a>
  	    						</li>
  	    						<li class="image-overlay" data-thumb="/assets/works/blog/4.jpg">
  	    	    					<a class="titan-lb" data-titan-group="gallery" href="/assets/works/blog/4.jpg" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/blog/4.jpg" alt="" />
                               			<span class="overlay-icon item-image"></span>
                            		</a>
  	    						</li>
          					</ul>
        				</div>
                        
                    </div>
                
            	</div>
                
                <div class="twelve columns">
                	
                    <div class="article_content">
      		               
					<p>Curabitur risus est, aliquam at vehicula hendrerit, lacinia sit amet diam. Nulla tristique arcu et nulla ullamcorper sit amet varius odio condimentum. Ut semper porttitor ipsum, et cursus erat volutpat vitae. Pellentesque odio massa, egestas non euismod eget, ultrices ac orci. Donec purus augue, tempus a iaculis quis, pretium volutpat ipsum. Donec vitae rhoncus turpis.</p>
                    <p>Maecenas pulvinar blandit facilisis. Curabitur mollis nisl non purus ultrices convallis. Ut volutpat tristique nisl elementum ultricies. Etiam vitae neque leo. Donec eget turpis lorem. Nulla facilisi. Duis bibendum diam sed ligula euismod a interdum ipsum semper.</p> 
                                      
					<blockquote>
  						Quisque odio urna, ultrices non volutpat lacinia, scelerisque sit amet justo. Quisque venenatis sapien id eros pulvinar sit amet posuere lacus gravida. Aenean accumsan placerat nulla, dictum semper turpis scelerisque sit amet. 
  						<cite>Isaac Asimov</cite>
					</blockquote>
                    
                    <div class="row">
                    	
                        <div class="six columns">
                        
                        	<div class="flex-video widescreen vimeo">
  								<iframe src="http://player.vimeo.com/video/1084537?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/1084537">Big Buck Bunny</a> from <a href="http://vimeo.com/user508904">Blender Foundation</a> on <a href="http://vimeo.com/">Vimeo</a>.</p>
							</div>
                        
                        </div>
                    
                    	<div class="six columns">
                        
                    		<h4 class="top10">Sed ut perspiciatis unde omnis iste natus</h4>
                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna. Sed ut perspiciatis unde omnis iste natus error sit.</p>
                    	</div>
                        
                    </div>
                    
                    </div>
            
            	</div>
                
                <div class="twelve columns">
                        
                	<h3>About The Author</h3>
                            
                		<div class="about-author">
                            
                           	<div class="row">
                                
                            	<div class="two columns mobile-one">
                            		<img src="/assets/icons/avatar-big.png" alt="Avatar">
                            	</div>
                            
                            	<div class="ten columns mobile-three">
                            
                            		<h5>Lance Dorgan / <span class="color">web designer</span></h5>
                            		<p>Maecenas pulvinar blandit facilisis. Curabitur mollis nisl non purus ultrices convallis. Ut volutpat tristique nisl elementum ultricies. Etiam vitae neque leo.</p>
                            
                            	</div>     
                            
                            </div>
                        	
                       </div>
                            
                </div>
                
                <div class="twelve columns comments">
                
                	<h3>Comments (3)</h3>
                	<!-- Comments Lists -->
                	<ol class="comments-list">

						<!-- Comment -->
                        <li class="comment">

							<div class="avatar">
					      		<img src="/assets/icons/avatar.png" width="50" height="50" alt="Avatar">
                            </div>

							<div class="comment-meta">

								<h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

								<p class="date">January 06, 2011</p>
							
							</div>

							<div class="comment-body">

								<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
							
							</div>
					
								<!-- Comment Reply -->
								<ul class="children">

									<li class="comment">

											<div class="avatar">
					      						<img src="/assets/icons/avatar.png" width="50" height="50" alt="Avatar">
                            				</div>

											<div class="comment-meta">

												<h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

												<p class="date">January 06, 2011</p>
									
											</div>

											<div class="comment-body">

												<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
									
											</div>
                                            
									</li>

								</ul>
                                <!-- End Comment Reply -->

						</li>
                        <!-- End Comment -->
                        
                        <!-- Comment -->
                        <li class="comment">

							<div class="avatar">
					      		<img src="/assets/icons/avatar.png" width="50" height="50" alt="Avatar">
                            </div>

							<div class="comment-meta">

								<h5 class="author"><a href="#">John Doe</a> - <a href="#" class="comment-reply-link">Reply</a></h5>

								<p class="date">January 06, 2011</p>
							
							</div>

							<div class="comment-body">

								<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.</p>
							
							</div>

						</li>
                        <!-- End Comment -->						

					</ol>
                    <!-- Comments Lists -->
                
                </div>
                
                <div class="twelve columns leave-comment">
                
                	<h3>Leave a Comment</h3>
			<form>

  			<div class="row">
    			<div class="six columns">
                <label>Name<span> (required)</span></label>
      			<input type="text" />
    			</div>
    			<div class="six columns">
                <label>E-mail<span> (required)</span></label>
      			<input type="text" />
    			</div>
  			</div>
            <div class="row">
    			<div class="twelve columns">
                <label>Message<span> (required)</span></label>
      			<textarea></textarea>
    			</div>
  			</div>
            
            <a href="#" class="medium button">Submit</a>            
			</form>
                
                </div>
                
            
            </div>
			<!-- End  Article -->          
           
            
		</div>
        <!-- End Blog Content -->
        
    	<!-- Sidebar Left -->
        <div class="four columns sidebar-right">
        	
        	
            <!-- Sidebar Widget -->
            <div class="sidebar-widget">           	
            	
                <h3>Popular Articles</h3>
                                        
      			<ul class="sidebar-list">
        			<li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Erat nisl faucibus justo verit et quasi architecto beatae.</a></li>
        			<li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Ut semper porttitor ipsum, et cursus erat volutpat vitae.</a></li>
        			<li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Mauris porttitor nisi sit amet felis porta congue. </a></li>
        			<li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Quisque ac felis felis, ornare sem. Proin ut nisi tortor. </a></li>
       				<li><a href="#"><span class="date"><i class="icon-calendar"></i>June 29, 2012</span>Erat nisl faucibus justo verit et quasi architecto beatae.</a></li>
      			</ul>
                
            </div>
            <!-- End Sidebar Widget -->
            
            <!-- Sidebar Widget -->
            <div class="sidebar-widget">           	
            	
                <h3>Text Widget</h3>
                                        
      			<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <a href="#" class="button expand"><i class="icon-question-sign"></i>Need More Info?</a>
                
            </div>
            <!-- End Sidebar Widget -->
            
            <!-- Sidebar Widget -->
            <div class="sidebar-widget">           	
            	
                <h3>Blog Archives</h3>
                                        
      			<ul class="toggle-view">
                
					<li>
						<h2>November 2012</h2><span><i class="icon-plus"></i></span>
					
                    	<div class="toggle-content">
							<ul class="disc">
                            	<li><a href="index_2">Illustration A to Z</a></li>
                                <li><a href="#">Web Design technics</a></li>
                                <li><a href="#">3D Design</a></li>
                                <li><a href="#">HTML5 / CSS3</a></li>
                                <li><a href="#">UI design</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
						</div>
					
                    </li>
				
                	<li>
						<h2>Octomber 2012</h2><span><i class="icon-plus"></i></span>
    					
                        <div class="toggle-content">
							<ul class="disc">
                            	<li><a href="#">Illustration A to Z</a></li>
                                <li><a href="#">Web Design technics</a></li>
                                <li><a href="#">3D Design</a></li>
                                <li><a href="#">HTML5 / CSS3</a></li>
                                <li><a href="#">UI design</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
						</div>
					</li>
                    
					<li>
						<h2>September 2012</h2><span><i class="icon-plus"></i></span>

						<div class="toggle-content">
							<ul class="disc">
                            	<li><a href="#">Illustration A to Z</a></li>
                                <li><a href="#">Web Design technics</a></li>
                                <li><a href="#">3D Design</a></li>
                                <li><a href="#">HTML5 / CSS3</a></li>
                                <li><a href="#">UI design</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
						</div>
					</li>
                    
                    <li>
						<h2>August 2012</h2><span><i class="icon-plus"></i></span>

						<div class="toggle-content">
							<ul class="disc">
                            	<li><a href="#">Illustration A to Z</a></li>
                                <li><a href="#">Web Design technics</a></li>
                                <li><a href="#">3D Design</a></li>
                                <li><a href="#">HTML5 / CSS3</a></li>
                                <li><a href="#">UI design</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
						</div>
					</li>
                    
				</ul>
                
            </div>
            <!-- End Sidebar Widget -->     
      		
        
    	</div>
        <!-- End Sidebar Left -->
                       
  	</div>
    
  </div>
  

</body>
