   
  <!-- Google Fonts --> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
 
 
  
  <!-- GOOGLE Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
  
  <script type="text/javascript">
  // GOOGLE MAPS
      function initialize() {

      var myLatlng = new google.maps.LatLng(18.666087,73.814616);
      var mapOptions = {
        zoom: 14,
    		center:myLatlng,
    		mapTypeControl: true,
   			mapTypeControlOptions: {
      			style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
    			},
    		zoomControl: true,
    		zoomControlOptions: {
      			style: google.maps.ZoomControlStyle.SMALL
    			},
    		mapTypeId: google.maps.MapTypeId.ROADMAP
        }
  		var map = new google.maps.Map(document.getElementById("map_canvas"),
      	mapOptions);
       var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Gate No:799,\n Pawar wasti Taluka,\n Haveli, \n Chikhali-Pune'
  });
      }  

  </script>


  
<body onload="initialize()">


  <div class="container region3wrap">  
  
    
    <!-- Content Top -->  
  	<div class="row content_top">
        
    	<div class="nine columns">
       
			<ul class="breadcrumbs">
 				<li><a href="index_2">Home</a></li>
  				<li><a href="#">Pages</a></li>
  				<li class="current"><a href="#">Contact</a></li>
			</ul>

		</div>
  
  	</div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->

<!-- Region 4 Wrap -->

  <div class="container region4wrap">
  
  	<div class="row maincontent contact">
    
    	<div class="twelve columns">
        	
        	<div class="page_title">
        
        		<div class="row">
            	
            		<div class="twelve columns">
        				<h1>We love to stay in touch</h1>
            		</div>
            
            	</div>
                
        	</div>
        
        </div>
        
        <div class="twelve columns">        	
            <div class="map_location">
        		<div id="map_canvas"></div>
            </div>        
        </div>
       
       <div class="four columns">
       
       		<h3>Head Office</h3>
       		<p>Use the map above to get more information about our main office.</p>
            <div class="contact-details">
            	<p><span>Address:</span>Gate No:799,Pawar wasti Taluka,Haveli,Chikhali-Pune.</p>
            	<p><span>Phone:</span></p>
              <p>+91-9579373589</p>
              <p>+91-9762313466</p>
              <p>+91-9850166506</p>
            	<p><span>Fax:</span> (123) 456-7890</p>
            	<p><span>E-mail:</span>  sale@threetechautomation.com</p>
            </div> 
                  
       </div>
       
       <div class="eight columns">
			
            <h3>Send us a message</h3>
            <p>* fields are Required</p>
			<%=form_for @qucikcontact, url: {:action=>"create", :controller=>"admin"}, method: :post do |f| %> 
  			<div class="row">
    			<div class="four columns">
                <label>Name:<span class="required">*</span></label>
      		 <%= f.text_field :name, placeholder:"Name" , class: :"text"%>
    			</div>
    			<div class="four columns">
                <label>E-mail:<span class="required">*</label>
      	<%= f.text_field :email, placeholder:"Email Address" , class: :"text"%>
    			</div>
    			<div class="four columns">
                <label>Subject:<span class="required">*</label>
      	 <%= f.text_field :subject, placeholder:"Subject" , class: :"text"%>
    			</div>
  			</div>
            <div class="row">
    			<div class="twelve columns">
            <label>Message:<span class="required">*</label>
<%= f.text_area :message,placeholder:"Message","cols" => 20, "rows" => 40, class: :"text"%>
    			</div>
  			</div>
        <%=f.submit :Submit, :class => "medium button",:value=>"Submit"%>
                     
       <%end%>
       
       </div>
        
  	</div>
    
  </div>
  
  
</body>


