
 <script>
        jQuery(function(){
            
            jQuery('#camera_wrap_1').camera({
                thumbnails: true
            });
            
        });
    </script>
  
 

</head>
<body>
<!-- Region 1 Wrap -->

  
<!-- End Region 1 Wrap -->

<!-- Region 2 Wrap -->

<div class="container region2wrap">
  
    <div class="row">
    
       
        
        <!-- Main Navigation -->
        
        <div class="nine columns">

                
        </div>
        
        <!-- End Main Navigation -->         
        
    </div>
    
</div>
  
<!-- End Region 2 Wrap -->

<!-- Region 3 Wrap -->

  <div class="container region3wrap">  
  
    
     <!-- Main Slider --> 
     <div class="row">
        
        <!-- Camera Slider -->
        <div class="fluid_container">     
            
            <div class="camera_wrap" id="camera_wrap_1">
                <div data-thumb="/assets/sliders/camera/thumbs/bridge.jpg" data-src="/assets/sliders/camera/bridge.jpg">
                    <div class="camera_caption fadeFromBottom">
                        Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em>
                    </div>
                </div>
            
                <div data-thumb="/assets/sliders/camera/thumbs/leaf.jpg" data-src="/assets/sliders/camera/leaf.jpg">
                    <div class="camera_caption fadeFromBottom">
                        It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
                    </div>
                </div>
            
                <div data-thumb="/assets/sliders/camera/thumbs/road.jpg" data-src="/assets/sliders/camera/road.jpg">
                    <div class="camera_caption fadeFromBottom">
                        <em>It's completely free</em> (even if a donation is appreciated)
                    </div>
                </div>
            
                <div data-thumb="/assets/sliders/camera/thumbs/sea.jpg" data-src="/assets/sliders/camera/sea.jpg">
                    <div class="camera_caption fadeFromBottom">
                        Camera slideshow provides many options <em>to customize your project</em> as more as possible
                    </div>
                </div>
            
                <div data-thumb="/assets/sliders/camera/thumbs/shelter.jpg" data-src="/assets/sliders/camera/shelter.jpg">
                    <div class="camera_caption fadeFromBottom">
                        It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)
                    </div>
                </div>
                
                <div data-thumb="/assets/sliders/camera/thumbs/tree.jpg" data-src="/assets/sliders/camera/tree.jpg">
                    <div class="camera_caption fadeFromBottom">
                        Different color skins and layouts available, <em>fullscreen ready too</em>
                    </div>
                </div>
            </div>
            
        </div>        
        <!-- End Camera Slider -->
     
     </div>   
     <!-- End Main Slider -->
       
    
    <!-- Content Top -->  
    <div class="row content_top">
       
        
        
        <div class="twelve columns">
       
            <h2>We create custom-built, marketing-driven website solutions and online environments that ensure your brand delivers on form and functionality.</h2>

        </div>
        
        
        
    </div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->

<!-- Region 4 Wrap -->

  <div class="container region4wrap">
  
    <div class="row maincontent">
       
        <!-- Main Content ( Middle Content) -->
        
        <div class="twelve columns">

            <!-- Services -->        
            <div class="row">
            
                <!-- // // // // // // // // // // -->        
           
                <div class="four columns">
        
                     <div class="service">
                        <a href="#"> 
                            <div class="service-icon"><img src="/assets/icons/service-responsive.png" width="120" height="60" alt="Modern"></div>                           
                            <h2 class="service-main">Fully Responsive</h2>                            
                            <p class="service-sub">Accusantium et doloremque veritatis architecto, eaque ipsa quae ab illo inventore veritatis perspiciatis.</p>                            
                        </a>
                    </div>

                </div>
            
                <!-- // // // // // // // // // // -->
            
                <div class="four columns">
        
                     <div class="service">
                        <a href="#">                            
                            <div class="service-icon"><img src="/assets/icons/service-touch.png" width="120" height="60" alt="Modern"></div>
                            <h2 class="service-main">Touch Support</h2>                            
                            <p class="service-sub">Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>                            
                        </a>
                    </div>

                </div>
            
                <!-- // // // // // // // // // // -->
            
                <div class="four columns">
        
                    <div class="service">
                        <a href="#">                            
                            <div class="service-icon"><img src="/assets/icons/service-customization.png" width="120" height="60" alt="Modern"></div>
                            <h2 class="service-main">Easy Customization</h2>                            
                            <p class="service-sub">Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae explicabo.</p>                            
                        </a>
                    </div>
 
                </div>
            
                <!-- // // // // // // // // // // -->
            
            </div>
            <!-- End Services -->
            
            <div class="row">
                <div class="twelve columns">
                    <hr/>
                </div>
            </div>
            
            <!-- Recent Work -->        
            <div class="row">
        
                <div class="twelve columns">
                
                    <h3>Recent Work</h3>
                    
                    <!-- // // // // // // // // // // -->
                    <div class="list_carousel">
                        <div class="carousel_nav">
                        <a class="prev" id="car_prev" href="#"><span>prev</span></a>
                        <a class="next" id="car_next" href="#"><span>next</span></a>
                        </div>
                        <div class="clearfix"></div>
                        <ul id="carousel-works">
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/1.png" alt=""/>
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Skyde</a></h4>
                                            <p>Travel far away to a old pirate space station.</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Skyde</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single_project" class="view-item"><span>&nbsp;</span></a> 
                                        <a class="titan-lb view-image" href="/assets/works/1.png" title="Skyde - Travel far away to a old pirate space station."><span>&nbsp;</span></a>
                                        </div>                             
                                    </div>
                                    
                                </div>        
                            </li>
                            
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/2.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Materialistic</a></h4>
                                            <p>Another beatiful work done in a fast motion.</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Materialistic</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single_project" class="view-item"><span>&nbsp;</span></a>
                                        <a class="titan-lb view-image" href="/assets/works/2.png" title="Materialistic - Inventore veritatis et quasi architecto beatae."><span>&nbsp;</span></a>                                       </div>                             
                                    </div>
                                                                        
                                </div>             
                            </li>
                            
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/3.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Shadowgate Entrance</a></h4>
                                            <p>Start moving and never look back you will.</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Shadowgate Entrance</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single_project" class="view-item"><span>&nbsp;</span></a>
                                        <a class="titan-lb view-image" href="/assets/works/3.png" title="Shadowgate Entrance - Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium."><span>&nbsp;</span></a>                                      
                                        </div>                             
                                    </div>
                                                                        
                                </div>  
                            </li>
                            
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/4.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Where The Forgotten</a></h4>
                                            <p>The cold sky stands still, there is no wind...</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Where The Forgotten</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="single_project" class="view-item"><span>&nbsp;</span></a>
                                        <a class="titan-lb view-image" href="/assets/works/4.png" title="Where The Forgotten - Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium."><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
                                </div>
                            </li>
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/5.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Skyde</a></h4>
                                            <p>Travel far away to a pirate space station.</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Skyde</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                    
                                </div>        
                            </li>
                            
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/6.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Materialistic</a></h4>
                                            <p>Another beatiful work done in a fast motion.</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Materialistic</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
                                </div>             
                            </li>
                            
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/7.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Shadowgate Entrance</a></h4>
                                            <p>Start moving and never look back you will.</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Shadowgate Entrance</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
                                </div>  
                            </li>
                            
                            <li>
                                <div class="work-item contentHover"> 
                                                               
                                    <div class="content"> 
                                        <div class="work-item-image">        
                                            <img src="/assets/works/8.png" alt="" />
                                        </div>
            
                                        <div class="work-item-content">
                                            <h4><a href="#">Where The Forgotten</a></h4>
                                            <p>The cold sky stands still, there is no wind...</p>
                                        </div>            
                                    </div>
        
                                    <div class="hover-content">
                                        <h3><a href="#">Where The Forgotten</a></h3>                                    
                                        <p>Inventore veritatis et quasi architecto beatae dicta sed ut perspiciatis unde omnis iste natus laudantium.</p>  
                                        <div class="hover-links">
                                        <a href="#" class="view-item"><span>&nbsp;</span></a>
                                        <a href="#" class="view-image"><span>&nbsp;</span></a>                                       
                                        </div>                             
                                    </div>
                                                                        
                                </div>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- // // // // // // // // // // -->
                    
                </div>  
           
            </div>
            <!-- End Recent Work -->  
            
            <div class="row">
                <div class="twelve columns">
                    <hr/>
                </div>
            </div>
            
            <!-- Our Partners -->        
            <div class="row">
            
                <div class="twelve columns">                
                
                    <h3>Our Partners</h3>
                
                    <ul class="clients_list">
                        <li class="three"><a class="has-tipsy" href="#" title="Site Templates and Themes"><img src="/assets/logos/1.png" alt="Apple"></a></li>
                        <li class="three"><a class="has-tipsy" href="#" title="Awesome Stock Graphics"><img src="/assets/logos/2.png" alt="EA"></a></li>
                        <li class="three"><a class="has-tipsy" href="#" title="PHP, JS, Java and .NET"><img src="/assets/logos/3.png" alt="Adidas"></a></li>
                        <li class="three"><a class="has-tipsy" href="#" title="Stock Motion Graphics"><img src="/assets/logos/4.png" alt="NASA"></a></li>
                    </ul>                    
                             
                </div>
           
            </div>
            <!-- End Our Partners -->       
     
        </div>
        <!-- End Main Content ( Middle Content) -->
        
    </div>
  </div>
  

 