
  <!-- Google Fonts --> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
 
 
<script>

$(window).load(function(){
    
    var $container = $('#container');

    $container.isotope({
      itemSelector : '.element',
      // disable resizing
      resizable: false,
      // set columnWidth to a percentage of container width
      masonry: {
        columnWidth: $container.width() / 12
      },
     });
    
    // update columnWidth on window resize
    $(window).smartresize(function(){
      $container.isotope({
        // set columnWidth to a percentage of container width
        masonry: {
          columnWidth: $container.width() / 12
        }
      });
    });
      
    
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }
        
        return false;
      });
    
  });
</script>
 
<body onload="initialize()">


  <div class="container region3wrap">  
  
    
    <!-- Content Top -->  
  	<div class="row content_top">
        
    	<div class="nine columns">
       
			<ul class="breadcrumbs">
 				<li><a href="index_2">Home</a></li>
  				<li><a href="#">Pages</a></li>
  				<li class="current"><a href="#">Portfolio</a></li>
			</ul>

		</div>
    
  	</div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->

<!-- Region 4 Wrap -->

  <div class="container region4wrap">
  
  	<div class="row maincontent">
    
    	<div class="twelve columns">
        	
        	<div class="page_title">
        
        		<div class="row">
            	
            		<div class="four columns">
        				<h1>Our Product</h1>
            		</div>
            
           			<div class="eight columns">
            
            		<!-- Portfolio Navigation -->
            		<section id="options">
  
      					<ul id="filters" class="option-set right" data-option-key="filter">
        					<li><a href="#filter" data-option-value="*" class="button small selected">Show All</a></li>
        					<li><a href="#filter" data-option-value=".web" class="button small">Feeder</a></li>
        					<li><a href="#filter" data-option-value=".ill" class="button small">Conveyor</a></li>
        					<li><a href="#filter" data-option-value=".logo" class="button small">Elevator</a></li>
        					<li><a href="#filter" data-option-value=".video" class="button small">Special Purpose Machine</a></li>
        					<li><a href="#filter" data-option-value=".print" class="button small">Controller</a></li>
      					</ul>

	  				</section>
            		<!-- End Portfolio Navigation -->
            
            		</div>
            
            	</div>
                
        	</div>
        
        </div>
    
    	<!-- Portfolio Content -->      
		<div class="twelve columns">       
        
			<div class="row">
                
                <!-- Portfolio Content -->
                <div class="twelve columns">
                
                	<div class="row">
                    
                    	<div id="container" class="clickable variable-sizes clearfix">
     								   
    						<!-- Portfolio Item -->
                            <div class="three columns element logo print">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/9.png" title="Etiam ultrices mi vel libero hendrerit ultricies.Pellentesque lacinia ultrices ac imperdiet."><img src="/assets/works/9.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Vibratory Bowl Feeder</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                 <div class="three columns element print logo">
                             
                              <div class="portfolio-item">
                                
                                  <div class="portfolio-item-image image-overlay">                    
                          <a class="titan-lb" data-titan-group="gallery" href="/assets/works/15.png" title=""><img src="/assets/works/15.png" alt="" />
                                      <span class="overlay-icon item-zoom"></span>
                                    </a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                      <h5 class="title"><a href="single_project">Voltage Controller</a></h5> 
                                        <p>Illustration  / Web Design </p>
                                    </div>
                                    
                              </div>
                                     
                </div>
                   <div class="three columns element print logo">
                             
                              <div class="portfolio-item">
                                
                                  <div class="portfolio-item-image image-overlay">                    
                          <a class="titan-lb" data-titan-group="gallery" href="/assets/works/evc4.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/evc1.png" alt="" />
                                      <span class="overlay-icon item-zoom"></span>
                                    </a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                      <h5 class="title"><a href="single_project">Voltage Controller</a></h5> 
                                        <p>Illustration  / Web Design </p>
                                    </div>
                                    
                              </div>
                                     
                </div>
                <div class="three columns element print logo">
                             
                              <div class="portfolio-item">
                                
                                  <div class="portfolio-item-image image-overlay">                    
                          <a class="titan-lb" data-titan-group="gallery" href="/assets/works/evc5.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/evc5.png" alt="" />
                                      <span class="overlay-icon item-zoom"></span>
                                    </a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                      <h5 class="title"><a href="single_project">Frequency Controller</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                              </div>
                                     
                </div>
                <div class="three columns element print logo">
                             
                              <div class="portfolio-item">
                                
                                  <div class="portfolio-item-image image-overlay">                    
                          <a class="titan-lb" data-titan-group="gallery" href="/assets/works/evc_1.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/evc1.png" alt="" />
                                      <span class="overlay-icon item-zoom"></span>
                                    </a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                      <h5 class="title"><a href="single_project">Frequency Controller</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                              </div>
                                     
                </div>
                            <!-- End Portfolio Item --> 
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element ill print">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a href="single_project"><img src="/assets/works/3.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element web ill logo">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/2.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/2.png" alt=""/>
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">300 MM CLINDICAL FEEDER</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element logo print ill">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/4.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/4.png" alt=""/>
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element ill">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/5.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/5.png" alt="" />
                               				<span class="overlay-icon item-plus"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element web logo video">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/7.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/7.png" alt="" />
                               				<span class="overlay-icon item-info"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">LINEAR FEEDER</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element logo ill">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/6.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/6.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Linear Feeder</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>


                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element print logo">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/8.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/8.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                         <div class="three columns element video web logo">
                             
                              <div class="portfolio-item">
                                
                                  <div class="portfolio-item-image image-overlay">                    
                          <a class="titan-lb" data-titan-group="gallery" href="/assets/works/1.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/1.png" alt="" />
                                      <span class="overlay-icon item-zoom"></span>
                                    </a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                      <h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                              </div>
                                     
                </div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element video web logo">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/2.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/2.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element video">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/4.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/4.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation </p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element web video">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="
                          /assets/works/3.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/3.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Dripe Aregation Bowl Feeder</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element ill web">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/13.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/13.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">CONICAL MODEL</a></h5> 
                                        <p>By ThreeTech Automation </p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                <div class="three columns element ill web">
                             
                              <div class="portfolio-item">
                                
                                  <div class="portfolio-item-image image-overlay">                    
                          <a class="titan-lb" data-titan-group="gallery" href="/assets/works/12.png" title="Etiam ultrices mi vel libero hendrerit ultricies."><img src="/assets/works/12.png" alt="" />
                                      <span class="overlay-icon item-zoom"></span>
                                    </a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                      <h5 class="title"><a href="single_project">BOWL FEEDER OF SMALL ROLLER</a></h5> 
                                        <p>By ThreeTech Automation </p>
                                    </div>
                                    
                              </div>
                                     
                </div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element video logo">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/14.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/14.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation </p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element print">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/6.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/6.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation</p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->
                            
                            <!-- Portfolio Item -->
                            <div class="three columns element print">
                             
                             	<div class="portfolio-item">
                                
                                	<div class="portfolio-item-image image-overlay">    								
  	    	    						<a class="titan-lb" data-titan-group="gallery" href="/assets/works/2.png" title="Skyde - Travel far away to a old pirate space station."><img src="/assets/works/2.png" alt="" />
                               				<span class="overlay-icon item-zoom"></span>
                               			</a>
                                    </div>
                                    
                                    <div class="portfolio-item-content">
                                    	<h5 class="title"><a href="single_project">Materialistic</a></h5> 
                                        <p>By ThreeTech Automation </p>
                                    </div>
                                    
                            	</div>
                                   	 
   							</div>
                            <!-- End Portfolio Item -->       
                                                           
						</div>
                                      
                    </div>
                
                </div>
                <!-- End Portfolio Content -->
            
            </div>
		            
		</div>
        <!-- End Portfolio Content -->
                               
  	</div>
    
  </div>
