
<body onload="initialize()">


  <div class="container region3wrap">  
  
    
    <!-- Content Top -->  
  	<div class="row content_top">
        
    	<div class="nine columns">
       
			<ul class="breadcrumbs">
 				<li><a href="index-2.html">Home</a></li>
  				<li><a href="#">Pages</a></li>
  				<li class="current"><a href="#">Run Lola, Run!</a></li>
			</ul>

		</div>
   
  	</div>
    <!-- End Content Top -->
    
  </div>
  
<!-- End Region 3 Wrap -->

<!-- Region 4 Wrap -->

  <div class="container region4wrap">
  
  	<div class="row maincontent"> 
    
    	<div class="twelve columns">
        	
        	<div class="page_title">
        
        		<div class="row">
            	
            		<div class="twelve columns">
        				<h1>Run Lola, Run!</h1>
            		</div>
            
            	</div>
                
        	</div>
        
        </div>
       
		<div class="twelve columns">
        
        	<div class="row">
            
            	<div class="four columns">
                
                	<h4>Overview</h4>
                
                	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna.Saque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas sit asperna.</p>
                    <a href="#" class="button"> Launch Project</a>
                
                	<h4 class="top20">Technology Used</h4>
                
                	<ul class="disc">
                    	<li>HTML5 / CSS3</li>
                    	<li>Photoshop</li>
                    	<li>Illustrator</li>
                    	<li>PHP / Jquery</li>
                	</ul>
                    
                    <div class="project-pagination">
                    	
                        <a title="Previous Project" href="#" class="has-tipsy left_pagination"></a>
                        <a title="View All Projects" href="#" class="has-tipsy all_pagination"></a>
                        <a title="Next Project" href="#" class="has-tipsy right_pagination"></a>
                    
                    </div>
                
                </div>
                
                <div class="eight columns">
                
                	<section class="slider">
        				<div class="gallery-slider flexslider">          					
                            <ul class="slides">
            					<li data-thumb="/assets/project/1.jpg">
  	    	    					<img src="/assets/project/1.jpg" alt="" />
  	    						</li>
  	    						<li data-thumb="/assets/project/2.jpg">
  	    	    					<img src="..//assets/project/2.jpg" alt="" />
  	    						</li>
  	    						<li data-thumb="/assets/project/3.jpg">
  	    	    					<img src="/assets/project/3.jpg" alt="" />
  	    						</li>
  	    						<li data-thumb="/assets/project/4.jpg">
  	    	    					<img src="/assets/project/4.jpg" alt="" />
  	    						</li>
          					</ul>
        				</div>
                                                
      				</section>
                
                </div>
        		
        	</div>
            
        </div>
        
  	</div>
    
  </div>
  </body>
