
  	<!-- Footer -->  
  	<div class="row footer">
        
        <!-- // // // // // // // // // // -->
        
        <div class="four columns">
        
        	<h4>About Us</h4>
        	<p>We say what we do, we do what we say, and we're looking forward to prove it to you.</p>
      		
   	    </div>
        
        <!-- // // // // // // // // // // -->
        
        <div class="four columns">
        
        	<h4>Address</h4>
		    	<ul class="vcard">
                <li class="address">Gate No:799,Pawar wasti Taluka,Haveli,Chikhali-Pune.</li>
                
           </ul>


   	    </div>
        
        <!-- // // // // // // // // // // -->
        
        <div class="four columns">
        
            <h4>Contact Us:</h4>
        <ul class="vcard">
                
                <li class="tel">+91-9579373589</li>
                <li class="tel">+91-9762313466</a></li>
                <li class="tel">+91-9850166506</a></li>
                <li class="email">sales@threetechautomation.com</li>
           </ul>

   	    </div>
        
        <!-- // // // // // // // // // // -->
        
  	</div>
    <!-- End Footer -->
    
  </div>
  
<!-- End Region 9 Wrap -->

<!-- Region 10 Wrap -->

  <div class="container region10wrap">
  
  	<div class="row footer_bottom">
       
        <!-- Bottom -->
        
        <!-- // // // // // // // // // // -->
        
        <div class="six columns">
        
        	<p class="copyright">© 2014 ThreeTechAutomation by Kasturi Infotec. All rights reserved</p>

   	    </div>
        
        <!-- // // // // // // // // // // -->
        
        <div class="six columns">
        
			<ul class="link-list">
  				<li><a href="/index_2">Home</a></li>
  				<li><a href="/portfolio_default">Products</a></li>
  				<li><a href="/services">Services</a></li>
  				<li><a href="/blog_sidebar_left">Blog</a></li>
  				<li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
			</ul>

   	    </div>
        
        <!-- // // // // // // // // // // -->
        
        <!-- Bottom -->
        
  	</div>
  </div>
  
<!-- End Region 10 Wrap -->
<!-- Back To Top -->
  <a href="#" class="scrollup">Scroll</a>
<!-- End Back To Top -->
  
<!-- Reveal Modal --> 
  <div id="Login" class="reveal-modal login-modal">
  
    <h2>Login</h2>
    <p>Please login using your credentials recived by email when you register.</p>
    	<form>
  			<label>Username</label>  
  			<input type="text" placeholder="UserName@TouchM.com" />
  
  			<label>Password</label>
  			<input type="text" placeholder="insert password" />
  
  			<p class="right"><a href="http://forums.orpalis.com/ucp.php?mode=sendpassword">I forgot my password</a> | <a href="http://forums.orpalis.com/ucp.php?mode=resend_act">Resend activation e-mail</a></p>

  			<input type="submit" class="medium button" value="Login!">
  
		</form>
    
    	<a class="close-reveal-modal">&#215;</a>
    
  </div>   
