
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" id="view" content="width=device-width minimum-scale=1, maximum-scale=1" />

  <title>ThreeTech :: Premium HTML5 Multipurpose Responsive Theme</title>
  
  
     
  <!-- Google Fonts --> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
 
 

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<!-- Region 1 Wrap -->

  <div class="container region1wrap">  
         
    <!-- Top Header -->
  	<div class="row top_header">
    
        <div class="six columns">
        
    				
   	    </div>
        
        <div class="six columns">
        
        	<ul class="top_social">
  				<li><a class="has-tipsy" href="http://twitter.com/" target="_blank" title="Twitter"><img src="/assets/social/Twitter.png" alt="Twitter"></a></li>
  				<li><a class="has-tipsy" href="http://www.facebook.com/" target="_blank" title="Facebook"><img src="/assets/social/Facebook.png" alt="Facebook"></a>
  				<li><a class="has-tipsy" href="http://google.com/" target="_blank" title="Google"><img src="/assets/social/Google.png" alt="Google+"></a></li>
                <li><a class="has-tipsy" href="http://www.linkedin.com/" target="_blank" title="LinkedIn"><img src="/assets/social/LinkedIn.png" alt="LinkedIn"></a></li>
                <li><a class="has-tipsy" href="http://www.flickr.com/" target="_blank" title="Flickr"><img src="/assets/social/Flickr.png" alt="Flickr"></a></li>
                <li><a class="has-tipsy" href="http://vimeo.com/" target="_blank" title="Vimeo"><img src="/assets/social/Vimeo.png" alt="Vimeo"></a></li>
  				<li><a class="has-tipsy" href="http://www.rss.com/" target="_blank" title="RSS"><img src="/assets/social/RSS.png" alt="RSS"></a></li>
			</ul>

		</div>
    
  	</div>
    <!-- End Top Header -->
    
  </div>
  
<!-- End Region 1 Wrap -->

<!-- Region 2 Wrap -->

<div class="container region2wrap">
  
	<div class="row">
    
    	<!-- Logo -->
            
    	<div class="three columns">

          <a href="index_2" id="logo"><img src="/assets/logos/1.png" alt="ThreeTech"></a> 
  		</div>
        
        <!-- End Logo -->
        
        <!-- Main Navigation -->
        
        <div class="nine columns">

			<nav class="top-bar">
        
    			<ul>
      				<!-- Toggle Button Mobile -->
      				<li class="name">
        			<h1><a href="#"> Please select your page</a></h1>
      				</li>
      				<li class="toggle-topbar"><a href="#"></a></li>
                    <!-- End Toggle Button Mobile -->
    			</ul>



      			<section><!-- Nav Section -->
      			<ul class="right">
        
        			<li class="has-dropdown">
          				<a class="active" href="/index_2">Home</a>
          				<ul class="dropdown">
            			
          				</ul>
        			</li>
        
        			<li class="has-dropdown">
        				<a  href="/portfolio_default">Products</a>
            			<ul class="dropdown">
            				
            			</ul>        
        			</li>
        
        			<li class="has-dropdown">
          				<a href="/services">Services</a>
          					<ul class="dropdown">
                            	
          					</ul>
        			</li>
				
        
        			<li class="has-dropdown">
          				<a href="blog_sidebar_left">Blog</a>
          					<ul class="dropdown">             
            					
          					</ul>
        			</li>
				<li class="has-dropdown">
          				<a href="/about">About Us</a>
          					<ul class="dropdown">             
            					
          					</ul>
        			</li>
        
        			<li><a href="/contact">Contact</a></li>
        
      			</ul>
                </section><!-- End Nav Section -->

  			</nav>            
        
    	</div>
        
        <!-- End Main Navigation -->         
        
	</div>
    
</div>
  
<!-- End Region 2 Wrap -->
<body>